<!-- navbar.html -->
<div class="navbar"> 
    <div class="logo">CFBS</div>
    <div class="hamburger" onclick="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
  
    <div class="nav-links" id="navLinks">
        <a href="../privacypolicy.html">Privacy Policy</a>
        <a href="about.html">About Us</a>
        <a href="#">Services</a>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact us</a>
    </div>
  
    <div class="quote" id="quoteLink">
        <a href="#">Request Quote</a>
    </div>
  </div>
  